---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import SectionHome from "@/components/SectionHome.vue";
import Scene from "@/components/Scene.vue"
import Cursor from "@/components/Cursor.vue";
import { PageTransition } from 'astro-page-transition';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<PageTransition speed={500} zIndex={99} />
		<SectionHome />
		<Cursor client:media="(min-width: 1200px)" />
		<slot />
		<Scene client:visible/> 
	</body>
</html>
<style is:global lang="scss"> 
	
</style>
